🛸 **НОВОЕ НАБЛЮДЕНИЕ UFO!**

🆔 **ID:** {{.UUID}}
📍 **Место:** {{.Location}}
📝 **Описание:** {{.Description}}
{{- if .ObservedAt}}
🕐 **Время наблюдения:** {{.ObservedAt.Format "2006-01-02 15:04:05"}}
{{- end}}
{{- if .Color}}
🎨 **Цвет:** {{.Color}}
{{- end}}
{{- if .Sound}}
🔊 **Звук:** {{if .Sound.Value}}Да{{else}}Нет{{end}}
{{- end}}
{{- if .DurationSeconds}}
⏱️ **Длительность:** {{.DurationSeconds}} сек
{{- end}}

📅 **Зарегистрировано:** {{.RegisteredAt.Format "2006-01-02 15:04:05"}} 